#Header {
    background-image: url("./surato/image\ \(40\).png");
    background-repeat: no-repeat;
    background-position: right;
}
.all{
    background-image: url("./surato/image\ \(42\).png");
    height:826px;
    background-repeat: no-repeat;
    background-position: center;
    align-content: end;
   
    display: flex;
    align-items: center;
}
#Header2 {
    background-image: url("./surato/bg-image.png");
    background-repeat: no-repeat;
    background-position: right;
}
#Header3 {
    background-image: url("./rasm/background\ \(1\).png");
    background-repeat: no-repeat;
    background-position: right;
}
.all1{
    /* background-image: url("./rasm/illustration\ \(18\).png"); */
    height:826px;
    background-repeat: no-repeat;
    background-position: center;
    align-content: end;
   padding-right: 400px;
    display: flex;
    align-items: center;

}
