#Header {
     background-image: url("./images/Group 273.png");
     background-repeat: no-repeat;
     background-position: right;
}
#HeadeR {
     background-image: url("./images/image-cover.png");
     background-repeat: no-repeat;
     background-position: right;
}
.all{
     background-image: url("./images/image (1).png");
     height:826px;
     background-repeat: no-repeat;
     background-position: center;
     align-content: end;
    
     display: flex;
     align-items: center;
 }
 #section3 {
     background-image: url("./images/bg-image.png");
     background-repeat: no-repeat;
     background-position: right;
 }

 